appdirs==1.4.4
argcomplete==3.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
escpos==2.0.0
future==1.0.0
fuzzywuzzy==0.18.0
idna==3.7
packaging==24.1
picamera==1.13
pillow==10.3.0
pypng==0.20220715.0
pyserial==3.5
pytesseract==0.3.10
python-barcode==0.15.1
pyusb==1.2.1
PyYAML==6.0.1
qrcode==7.4.2
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
viivakoodi==0.8.0
